.media-item-container {
  .media-item-card {
    padding: 4px;
    border: 2px solid blue;
    border-radius: 8px;
    width: 150px;
    img {
      border-radius: 4px;
      width: 150px;
    }
    p {
      margin: 8px 0;
    }
    .media-item-card_title {
      font-size: 22px;
      font-weight: 600;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
              line-clamp: 2; 
      -webkit-box-orient: vertical;
    }
  }
}